{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'auths/css/mdb.min.css' %}">
    <style>
      section {
        background-image: linear-gradient(45deg, rgb(64, 64, 255), pink );
      }
    </style>
</head>
<body>
    <section class="h-100 gradient-form" >
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-xl-10">
              <div class="card rounded-3 text-black">
                <div class="row g-0">
                  <div class="col-lg-6">
                    <div class="card-body p-md-5 mx-md-4">
      
                      <div class="text-center">
                        <img src="{% static 'auths/img/canrib.svg' %}" style="width: 185px;" alt="logo">
                        <h4 class="mt-1 mb-5 pb-1">CancerCare</h4>
                      </div>
                      {% if fname %}
                      Welcome {{fname}}!!! Our <a href="{%url 'home' %}">services</a> is waiting for you.
                      {% endif %}
                      <form action="{% url 'login' %}" method="POST" autocomplete="off">
                        {% csrf_token %}
                        <p>Please login to your account</p>
      
                        <div class="form-outline mb-4">
                          <input type="text" id="form2ee" class="form-control" placeholder="Whats your name" name="username" required/>
                          <label class="form-label" for="form2ee">Username</label>
                        </div>
      
                        <div class="form-outline mb-4">
                          <input type="password" id="form2e" class="form-control" name="passwrd" required/>
                          <label class="form-label" for="form2e">Password</label>
                        </div>
      
                        <div class="text-center pt-1 mb-5 pb-1">
                          <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log in</button>
                          <a class="text-muted" href="#!">Forgot password?</a>
                        </div>
      
                        <div class="d-flex align-items-center justify-content-center pb-4">
                          <p class="mb-0 me-2">Don't have an account?</p>
                          <button type="button" class="btn btn-outline-danger"><a href="{% url 'signup' %}">Create new</a></button>
                        </div>
      
                      </form>
      
                    </div>
                  </div>
                  <div class="col-lg-6 d-flex align-items-center bg-info">
                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                      <h4 class="mb-4">Cancer cannot decide your future, we will fight it together</h4>
                      <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <script src="{% static 'auths/js/mdb.min.js' %}"></script>
</body>
</html>