{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Drug List</title>

    <link rel="stylesheet" href="{% static 'mainfeatures/css/mdb.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>
        main.centerize{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sub{
            width: 60vw;
            height: 80vh;
            background: rgb(162, 198, 255);
        }
        body{
            background: lightblue;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background: rgb(255,43,105); background-image: linear-gradient(90deg, rgba(255,43,105,1) 0%, rgba(61,255,206,1) 100%);">
        <!-- Container wrapper -->
        <div class="container">
            <!-- Navbar brand -->
            <a class="navbar-brand me-2" href="{%url 'home'%}">
            <img
                src="{%static 'aboutus/img/logo.png'%}"
                height="85px"
                weight="300px"
                alt=""
                loading="lazy"
                style="margin-top: -1px;"
            />
            </a>

            <!-- Toggle button -->
            <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <i class="fas fa-bars"></i>
            </button>

            <!-- Collapsible wrapper -->
            <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
                </li>
            </ul>
            <!-- Left links -->

            <div class="d-flex align-items-center">
                <a href="{%url 'login'%}" class="btn btn-link me-3">Login</a>
                <a href="{%url 'signup'%}" class="btn btn-primary">Sign Up</a>
            </div>
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <main class="centerize my-3">
        <div class="sub mt-5 border border-3 position-relative overflow-auto">
            <h1>Drug List</h1>
            <form method="GET" action="{%url 'search'%}" class="mx-5 position-absolute end-0 hstack">
                <div class="form-outline" style="background: white;">
                    <input autocomplete="off" type="text" id="search_drug" class="form-control" name="search_drug"/>
                    <label class="form-label" for="form12">Input Drug Name to Search</label>
                </div>
                <button type="submit" class="btn btn-secondary mx-2">Search</button>
            </form>
            <br />
            <table class="table table-striped mt-3">
                <th>
                    <tr>
                        <th scope="col">Drug Name</th>
                        <th scope="col">Drug Price (Taka)</th>
                        <th scope="col">Availability</th>
                        <th scope="col">Manufacturer</th>
                    </tr>
                </th>
                <tbody>
                    {% for drug in object_list %}
                    <tr>
                        <td>{{drug.drugname}}</td>
                        <td>{{drug.drugprice}}</td>
                        <td>{{drug.availability}}</td>
                        <td>{{drug.manufacturer}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <nav class="container">
                <div class="row">
                    {% if is_paginated %}
                        <ul class="pagination justify-content-center align-items-center">
                            {% if page_obj.has_previous %}
                                <li class="page-item mx-2"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Previous</a></li>
                            {% else %}
                                <li class="disabled mx-2">Previous</li>
                            {% endif %}

                            {% if page_obj.has_next %}
                                <li class="page-item mx-2"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Next</a></li>
                            {% else %}
                                <li class="page-item disabled mx-2">Next</li>
                            {% endif %}
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>
    </main>
    <footer class="bg-light text-lg-start">
        <div class="py-4 text-center" style="background: rgba(0, 0, 0, 0.2);">
          <a role="button" class="btn btn-primary btn-lg m-2"
            href="#" rel="nofollow" target="_blank">
            Donate Us
          </a>
          <a role="button" class="btn btn-warning btn-lg m-2 text-dark" href="#" target="_blank">
            Download Our App
          </a>
        </div>
    
        <hr class="m-0" />
    
        <div class="text-center py-4 align-items-center">
          <p>Follow CancerCare on social media</p>
          <a href="https://www.youtube.com/" class="btn btn-danger m-1" role="button"
            rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.facebook.com/" class="btn m-1" role="button" rel="nofollow"
            target="_blank" style="background: #00008b;">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="https://twitter.com/" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-twitter text-white"></i>
          </a>
          <a href="https://github.com/amitpress" class="btn btn-dark m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
    
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021-2022 Copyright:
          <a class="text-dark" href="https://cancercare.com/">www.cancercare.com</a>
        </div>
        <!-- Copyright -->
      </footer>
    <script src="{% static 'mainfeatures/js/mdb.min.js' %}"></script>
</body>
</html>