{% extends 'landingpage/base.html' %}
{% load static %}
{% block body %}

<div class="margin-i" style="margin-left: 5vw; margin-right: 5vw;">
    <div class="flex three center card-margin">
        <div>
            <article class="card" style="border: 2px solid black;box-shadow: 1px 1px 3px 2px;">
              <img src="{% static 'landingpage/img/3.jpg' %}">
              <footer>
                <h3>Emergency Help</h3>
                <p>If it is emergency, no worries, we are here 24/7</p>
                <a href="{% url 'register-ambulance' %}"><button class="error tooltip-top" data-tooltip="get emergency help imidiately">Get Help</button></a>
              </footer>
            </article>
          </div>
          <div>
            <article class="card" style="border: 2px solid black;box-shadow: 1px 1px 3px 2px;">
              <img src="{% static 'landingpage/img/2.jpg' %}">
              <footer>
                <h3>Medicine</h3>
                <p>Medicine can not be a decider of your life</p>
                <a href="{% url 'druglist' %}"><button class="tooltip-right" data-tooltip="click to buy medicines">Get Meds</button></a>
              </footer>
            </article>
          </div>
          <div>
            <article class="card" style="border: 2px solid black;box-shadow: 1px 1px 3px 2px;">
              <img src="{% static 'landingpage/img/1.jpg' %}">
              <footer>
                <h3>Specialist Care</h3>
                <p>Our docotors will look after your pain</p>
                <button style="background-color: darkviolet;" class="tooltip-right" data-tooltip="we care for you">Get Care</button>
              </footer>
            </article>
          </div>
    </div> 
    <div class="cancer-awareness">
        <h2>Types of Cancer</h2>
        <p>
            Cancer.Net offers individualized guides for more than 120 types of cancer and related hereditary syndromes. Each guide provides comprehensive, oncologist-approved information on: Introduction, Medical Illustrations, Risk Factors, Prevention, Symptoms & Signs, Diagnosis, Stages, Types of Treatment, About Clinical Trials, Latest Research, Coping with Treatment, Follow-Up Care, Survivorship, Questions to Ask the Health Care Team, and Additional Resources. The American Society of Clinical Oncology (ASCO) believes that all treatment decisions should be made between patients and their doctors. Use the menu below to find the guide you are looking for. The first tab offers some common diagnoses, but if you don’t see your specific diagnosis there, please use the Alphabetical tabs to see the entire list of Cancer.Net guides.

        </p>
        <div class="flex four">
            <div><span><div class="card" style="width: 15vw; height: 25vh" ><img src="{% static 'landingpage/img/c2.jpg' %}"></div></span></div>
            <div><span><div class="card" style="width: 15vw; height: 25vh" ><img src="{% static 'landingpage/img/c1.jpg' %}"></div></span></div>
            <div><span><div class="card" style="width: 15vw; height: 25vh" ><img src="{% static 'landingpage/img/c3.jpg' %}"></div></span></div>
            <div><span><div class="card" style="width: 15vw; height: 25vh" ><img src="{% static 'landingpage/img/c4.jpg' %}"></div></span></div>
            <div><span><div class="card" style="width: 15vw; height: 25vh" ><img src="{% static 'landingpage/img/c5.jpg' %}"></div></span></div>
            <div><span><div class="card" style="width: 15vw; height: 25vh" ><img src="{% static 'landingpage/img/c6.jpg' %}"></div></span></div>
            <div><span><div class="card" style="width: 15vw; height: 25vh" ><img src="{% static 'landingpage/img/c7.jpg' %}"></div></span></div>
            <div><span><div class="card" style="width: 15vw; height: 25vh" ><img src="{% static 'landingpage/img/c8.jpg' %}"></div></span></div>
            
        </div>

    </div>
</div>

{% endblock body %}