{% extends 'landingpage/base.html' %}
{% block body %}
<div class="centered">
    <div class="card" style="padding: 5vw;">
        <form action="" method="post">
            <label for="{{form.name.id_for_label}}">Name:</label>
            {{form.name}}
            <label for="form.email.id_for_label">Email:</label>
            {{form.email}}
            <label for="form.passwprd.id_for_label">Password:</label>
            {{form.password}}
            <button>SIGNUP</button>
        </form>
    </div>
</div>
{% endblock body %}